<div>
  <table class="usa-table site-table-responsive site-table-simple">
    <caption>
      Airtable search results with the above parameters
    </caption>
    <thead>
      <tr>
        <th scope="col" role="columnheader"> Resource name </th>
        <th scope="col" role="columnheader"> Description </th>
        <th scope="col" role="columnheader"> Type of resource </th>
        <th scope="col" role="columnheader"> File type </th>
        <th scope="col" role="columnheader"> Ready to use? </th>
        <th scope="col" role="columnheader"> Approved for: </th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "result", collection: @results %>
    </tbody>
  </table>
</div>
