<table class="usa-table">
  <thead>
    <tr>
      <th scope="col" role="columnheader">Resource Name</th>
      <th scope="col" role="columnheader"> Description </th>
      <th scope="col" role="columnheader"> Type of Resource </th>
      <th scope="col" role="columnheader"> Owner(s) </th>
      <th scope="col" role="columnheader"> Status </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "result", collection: @results %>
  </tbody>
</table>
